@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 17, 24, 39;
    --background-start-rgb: 249, 250, 251;
    --background-end-rgb: 255, 255, 255;
}

@font-face {
    font-family: "uncut sans";
    src: url("./uncut-sans.woff2") format("woff2");
}

* {
    font-family: "uncut sans", sans-serif;
}

/* Light theme only */
html, body {
    background: rgb(var(--background-start-rgb));
    color: rgb(var(--foreground-rgb));
}

::selection {
    background: rgba(37, 99, 235, 0.2);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
